.about-me {
    min-height: 72vh;
    padding: 5vh 10vh 5vh 10vh;
    display: inline-block;

}

.about-me .infosection {
    text-align: center;
    display: inline-block;
    flex-direction: column;
    width: 50vw;
}

.about-me img {
    width: 30vw;
    float:left;
    padding: 5vh;
}
/* 
.about-me ul {
    column-count: 2;
}

.about-me li {
    padding:1vh;
} */
