nav {
    display:flex;
    padding-top: 15px;
    margin-right: 5%;
    float: right;
  }
  
  nav li {
    display:inline;
    /* border: 10px solid black; */
    padding-left:1rem;
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
    height:100%;
  }