nav {
    display:flex;
    margin-right: 5%;
    float: right;
}
  
nav li {
    display:inline;
    /* border-left: 3px solid red;
    border-right: 3px solid red; */
    /* margin: 0vh 0.5vw 0vh -.5vw; */
    padding: 4vh 1vw 4vh 1vw;
    color: #b9c6ae;
    font-weight: bold;
}

nav li:hover {
    background-color: lightgray;
    color:black;
}

nav a {
    text-decoration: none;
    color: inherit;
}
